body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#enumerator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enumerator #failures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enumerator #failures .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}